/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}



header {
  height: 50px;
  background-color: black;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.heading {
  width: 50%;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 3px 0 black;
}

.navbar {
  width: 20%;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

li {
  list-style: none;

}

.contents {
  background-image: url('gotoeat2.jpg');
  height: 100%;
  width: 100%;
  position: relative;
}

.link-site {
  position: absolute;
  top: 200px;
  left: 1200px;
  margin: 5px;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.site {
  color: white;
  text-decoration: none;
  border-bottom: 5px solid red;
}



.first-view{
  height: 100vh;
  background-color: black;
}

.top-image {
  height: 120%;
  width: 100%;
}


.upper-content{
  height: 450px;
  background-color:black;
  margin: 0 160px;
  padding-top: 250px;
  color: white;
}

.heading-name {
  text-align: center;
  border-bottom: 2px solid red;
  width: 200px;
  margin: 10px auto;
  color: white;
  font-size: 24px;
}

.messages {
  width: 50vw;
  margin: 0 auto;
  color: white;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
  color: white;
}

.message-date {
  padding-right: 40px;
}


.middle-content{
  height: 450px;
  background-color: black;
  margin: 0 160px;
}

.style-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.go-image {
  height: 300px;
  margin: 20px 30px;
}

.case-name {
  font-size: 16px;
  text-align: center;
  color: white;
  border-bottom: 2px solid yellow;
}

.text-name {
  font-size: 32px;
  text-align: center;
  color: pink;
}

p {
  color: white;
  font-size: 24px;
  text-align: center;
}

.bottom-content {
  background-color:black;
  height: 1600px ;
  margin: 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: lightblue;
  color:white;
  display: block;
}

footer {
  height: 50px;
  background-color: gray;
  text-align: center;
  color: gray;
}

.simulation {
  color: white;
  text-decoration: none;
}

.campaign {
  color: white;
  text-decoration: none;
}

.top-page {
  color: beige;
  text-decoration: none;
}


.simulation-form {
  background-color: black;
  color: black;
  text-decoration: none;
  height: 100vh;
}

.container {
  background-color: black;
  padding-top: 100px;
}

h1 {
  color: red;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.simulation-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.simulation-form__label {
  color: black;
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

.simulation-form__field {
  margin-top: 100px ;
  margin-bottom: 20px;
}

.simulation-form__field--left {
 
  width: 70%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.simulation-box {
  width: 50%;
  line-height: 30px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.simulation-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
  margin-left: 450px;
}
.lunch {
  font-size: 18px;
}

.sample_h1 {
  font-size: 25px;
  color: orange;
  margin-top: 100px;
}


.sample_h2{
  font-size: 25px;
  color: purple;
  margin-top: 100px;
}