<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Go To Eat</title>
  </head>
  <body>
    <div class="contents">
      <div class="first-view">
        <%= image_tag 'gotoeat_top.jpg', class:"top-image",size: '100x200' %>
      </div>
      <div class="upper-content">
          <h2 class="heading-name">新着登録飲食店で使える<br>プレミアム付食事券の発行情報</h2>
        <ul class="messages">
          <li class="message">
            <div class="message-date"></div>
            <div>①  プレミアム付食事券は、販売額の25％を国が負担します！！</div>
          </li>
          <li class="message">
            <div class="message-date"></div>
            <div>②  プレミアム付食事券でお支払いの際、おつりはでません！！</b></div>
          </li>
          <li class="message">
            <div class="message-date"></div>
            <div>③  購入制限： 1回のご購入にあたり、20,000円分までとさせていただきます</div>
          </li>
          <li class="message">
            <div class="message-date"></div>
            <div>④  販売期間： 2021年1月末まで</div>
          </li>
          <li class="message">
            <div class="message-date"></div>
            <div>⑤  有効期限： 2021年3月末まで</div>
          </li>
        </ul>
      </div>
      <div class="middle-content">
        <h2 class="heading-name">どのくらいお得？</h2>
        <ul class="style-list">
          <li>
            <h4 class="case-name">2人でランチ</h4>
            <%= image_tag'gotoeatlunch.jpeg', class:'go-image' %>
            <h4 class="text-name">贅沢ランチも！</h4>
            <p>特別ポイント500pt<br>
              ×2人＝1,000pt<br>
              もらえる！</p>
          </li>
          <li>
            <h4 class="case-name">４人でディナー</h4>
            <%= image_tag'gotoeatdinner.jpeg', class:'go-image' %>
            <h4 class="text-name">人数×1150PTに！</h4>
            <P>3x通常ポイント150pt×4人＝600pt<br>
              特別ポイント1000pt×4人＝4000pt<br>
              上記合計で4600ptもらえる！</P>
          </li>
          <li>
            <h4 class="case-name">500円のランチ</h4>
            <%= image_tag'gotoeatlunch2.jpeg', class:'go-image' %>
            <h4 class="text-name">２回目以降無料！！</h4>
            <p>特別ポイント500pt×1人＝500pt<br>
              次回のランチ代500円-<br>
              500pt利用=実質0円！</p>
          </li>
        </ul>
      </div>
      <div class="bottom-content">
        <form class="contact-form">
          <h2 class="heading-name">FAQ</h2>
          <input type="text" placeholder="名前" class="small-field">
          <input type="text" placeholder="質問件名" class="small-field">
          <textarea placeholder="質問内容" class="large-field"></textarea>
          <input type="submit" value="送信" class="send">
        </form>
      </div>
    </div>
  </body>
</html>