<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Go To Eat</title>
  </head>
  <body>
    <div class="new-contents">
      <div class="new-first-view">
        <h2 class="new-heading-name">Q1</h2>
        <ul class="new-messages">
          <li class="new-message">
            <div class="new-message-date">Go To Eatキャンペーンとは？</div>
            <p>Go Toキャンペーン事業のうち、飲食業を対象としたものが「Go To Eat（イート）キャンペーン」です。<br>
              農林水産省が担当の事業となっており、具体的には以下の2つが予定されています。</p>

            <p>①オンライン飲食予約サイト経由で、期間中に飲食店を予約・来店した消費者に対し、<br>
              飲食店で使えるポイント等を付与（最大一人あたり1000円分）。</p>
            <p>②登録飲食店で使えるプレミアム付食事券（２割相当分の割引等）を発行。</p>
          </li>
          <h2 class="new-heading-name">Q２</h2>
          <li class="new-message">
            <div class="new-message-date">Go To Eatキャンペーンの期間は？</div>
            <p>オンライン飲食予約の利用によるポイント付与の対象となる予約の受付は、2020年10月1日より開<br>
              始しています。ポイントが付与されるネット予約の受付期間は2021年1月末まで、獲得したポイントの<br>
              利用期限は同年3月末までとなっています。<br>
              食事券については、準備が整った地域から順次販売される予定です。詳しくは農林水産省までお問い合わせください。</p>
          </li>
          <h2 class="new-heading-name">Q３</h2>
          <li class="new-message">
            <div class="new-message-date">キャンペーンでもらえるポイントは？</div>
            <p>「Go To Eatキャンペーン」を利用しておトクに飲食を楽しむ方法は2つあります。</p>
            <p>① 登録飲食店で使えるプレミアム付食事券を購入する<br>
              農林水産省が実施した公募により決定した食事券発行事業者より、地域の登録飲食店で使用できるプ<br>
              レミアム付食事券を購入することができます。購入額の25%分が上乗せされる仕組みで、たとえば1万<br>
              2,500円分の食事券1セットを1万円で購入することが可能です。購入制限として、1回の購入当たり2<br>
              万円の上限金額が定められています。<br>
              使用時におつりは出ず、販売は2021年1月末まで、有効期限は同年3月末までとなっています。</p>
          </li>
          <p>② オンライン飲食予約サイトでポイントを手に入れる<br>
            農林水産省が実施した公募により決定した、オンライン飲食予約サイト事業者の提供するサイト経由で、<br>
            期間中にキャンペーン対象の飲食店を予約・来店した利用者に対し、次回以降の飲食店利用時に使用でき<br>
            るポイントが付与されます。ホットペッパーグルメでも、Go To Eatキャンペーン実施に伴い、キャンペ<br>
            ーン対象の飲食店をネット予約し、来店することで、ポイントを獲得することができます。<br>
            <br>
            夕食時間帯（15:00～）の来店予約なら1人当たり1,000円分のポイントが付与されます（昼食時間帯の<br>
            予約は1人当たり500円分のポイントになります）。ポイント付与の上限は、1回の予約当たり10人分（<br>
            最大10,000円分のポイント）です。<br>
            ポイント付与の対象期間は2021年1月末まで、利用可能期間は同年3月末までとなっています。</p>
        </ul>
      </div>
      <div class="new-bottom-content">
      </div>
    </div>
  </body>
</html>