<div class="simulation-form">
	<h1>ポイント対象 最大１０名 =>最大10,000pt</h1>
	<p class="simulation-form__label">最大10人まで人数を入力できます！</p>
	<form class="simulation-form__field" method="post" action="">
		<table class="lunch">
    <h1 class="sample_h1">ランチの場合</h1>
			<tr>
				<th class="simulation-form__field--left">人数</th>
				<td class="simulation-form__input"><input value="" name="textbox01" type="text" id="jsNum" class="sample_input">人</td>
			</tr>
			<tr>
				<th class="simulation-form__field--left">合計付与ポイント</th>
				<td class="simulation-box"><input value="" name="textbox02" type="text" id="jsPrice" class="sample_input" readonly>ポイント</td>
			</tr>
		</table>
    <table class="lunch">
    <h1 class="sample_h2">ディナーの場合</h1>
			<tr>
				<th class="simulation-form__field--left">人数</th>
				<td class="simulation-form__input"><input value="" name="textbox01" type="text" id="jsNum2" class="sample_input">人</td>
			</tr>
			<tr>
				<th class="simulation-form__field--left">合計付与ポイント</th>
				<td class="simulation-box"><input value="" name="textbox02" type="text" id="jsPrice2" class="sample_input" readonly>ポイント</td>
			</tr>
		</table>
	</form>
</div>